<!-- FOOTER -->
<div class="" style="width:100%; margin-left:0; padding:0px; height:300px; bottom:0; background: #ff5964;">

    <footer style="width:95% !important;" class="section footer-classic context-dark bg-image">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                        <p>Itechpro® es una organización que busca acercar la programación y la robótica estudiantes y aficionados, a través de actividades, proyectos y eventos.</p>
                        <!-- Rights-->
                        <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Itechpro</span><span>. </span><span>Todos los Derechos Reservados.</span></p>
                    </div>
                </div>
                <div class="col-md-4 contactts">
                    <h5 style="font-size: 18px !important; font-weight:bold;">Contactos</h5>
                    <dl class="contact-list">
                        <dt>correo:</dt>
                        <dd><a style="color: white !important;" href="mailto:#">itechpro.colombia@gmail.com</a></dd>
                    </dl>
                    <dl class="contact-list">
                        <dt>Teléfono:</dt>
                        <dd><a style="color: white !important;" href="tel:#">057 3113355355</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4 col-xl-3">
                    <h5 style="color:white; font-size: 18px !important; font-weight:bold;">Links</h5>
                    <ul class="nav-list">
                        <li><a style="color: white !important;" href="/tarea/mostrar/todo">Actividades</a></li>
                        <li><a style="color: white !important;" href="/tarea/mostrar/todo">Proyectos</a></li>
                        <li><a style="color: white !important;" href="/tarea/kits">Kits</a></li>
                        <li><a style="color: white !important;" href="/blogs/mostrar-todos">Blogs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-gutters social-container">
            <div class="col"><a class="social-inner" href="https://www.facebook.com/Itechpro-colombia-104554334657122/"><span class="icon mdi mdi-facebook"></span><span style="color: white !important;">Facebook</span></a></div>
            <div class="col"><a class="social-inner" href="https://www.instagram.com/itechprocolombia/"><span class="icon mdi mdi-instagram"></span><span style="color: white !important;">instagram</span></a></div>
            <div class="col"><a class="social-inner" href="https://twitter.com/danielpuertat"><span class="icon mdi mdi-twitter"></span><span style="color: white !important;">twitter</span></a></div>
        </div>
    </footer>

</div>
<!-- FIN FOOTER -->
