<div class="genLoader" id="genLoader">
    <div class="dv" style="width:100%;margin-top:-200px;">
        <center><img src="/img/logo1.png" alt=""></center>
    </div>
    <div class="lds-ellipsis loader" id="loader">
        <div class="dv"></div>
        <div class="dv"></div>
        <div class="dv"></div>
        <div class="dv"></div>
    </div>

</div>
