<div class="container-fluid">
    <div class="row flex-items-xs-center slider-2 flex-items-xs-middle" id="sec-2" style="height:100vh; background-image: url(/img/back4.jpg);background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;">


        <div class="row col-md-4"></div>
        <div class="row col-md-4">

            <div class="simple-login-container">
               <form action="/usuarios/iniciar-sesion" method="post">
                <h2>Iniciar Sesion</h2>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" name="email" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" name="password" placeholder="Enter your Password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="/usuarios/registrar">Registrarme</a>
                    </div>
                </div>
                </form>
            </div>


        </div>
        {{>elementos}}


    </div>

</div>